
@{
    ViewData["Title"] = "View1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="color:red;text-align:center">Unauthorised Access</h3>
<a asp-action="Logout" asp-controller="Authentication">Home</a>

